#memeWrapper {
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memeTopText, .memeBottomText {
    position: absolute;
    text-align: center;
    margin: 5px 0;

    color: white;
    font-size: 2em;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    width: 300px;
    word-wrap: break-word;
}

.memeTopText {
    top: 0;
}

.memeBottomText {
    bottom: 0;
}

@media screen and (max-width: 500px) {
    .memeTopText, .memeBottomText {
        width: 300px;
        font-size: 2em;
    }
}